Package: int
Version: pkgver
Architecture: pkgarch
Section: utils
Essential: no
Priority: optional
Depends: 
Installed-Size: pkgsize
Maintainer: WerIstLuka
Description: Convert numbers from any base to any other base
